<div class="audiocall-question">
  <button type="button" class="question__audio">🎵</button>
  <div class="audiocall__answers">
    <button type="button" class="question__answer question__answer_1" value="0"></button>
    <button type="button" class="question__answer question__answer_2" value="1"></button>
    <button type="button" class="question__answer question__answer_3" value="2"></button>
    <button type="button" class="question__answer question__answer_4" value="3"></button>
    <button type="button" class="question__answer question__answer_5" value="4"></button>
  </div>
</div>
