<article class="word">
  <figure class="word__img-container">
    <img src="#" alt="" class="word__img">
  </figure>
  <div class="word__description">
    <div class="word__description_eng">
      <h3 class="word__english"></h3>
      <p class="word__meaning_wrapper">Meaning: <span class="word__meaning"></span></p>
    </div>

    <div class="word__description_ru">
      <p class="word__translate"></p>
      <p class="word__meaning_wrapper">Значение: <span class="word__meaning"></span></p>
    </div>
  </div>
</article>
