.word {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;

  
  max-height: 200px;
  margin-bottom: 16px;

  .word__img {
    width: 300px;
    height: auto;
    margin-right: 16px;
  }

  &.difficult {
    background-color: rgba($color: #f7f45c, $alpha: 0.3);
  }

  &.studied {
    background-color: rgba($color: #5cf771, $alpha: 0.3);
  }

  .played {
    color: #e0263f
  }

}
